
.bg {
  width: 100vw;
  height: 100vh;
}

.container{
  font-family: 'Comfortaa', sans-serif; 
  font-size: 50px; 
  text-align: left;
  max-width: 1000px;
  padding: 400px 10px;
}

.name-off-screen {
  transform: translateX(-600px);
}

.name-on-screen {
  opacity: 1;
  transform: translateX(0);
  transition: transform 1s ease 0s;
}

.about-me-off-screen {
  transform: translateX(-700px);
}

.about-me-on-screen {
  opacity: 1;
  transform: translateX(0);
  transition: transform 1s ease 0s;
}

.about-me {
  font-family: 'Comfortaa', sans-serif; 
  font-size: 16px; 
  text-align: left;
  max-width: 1000px;
  padding: 10px 10px;
}

.button1-off-screen.rs-btn {
  transform: translateX(-700px);
}

.button1-on-screen.rs-btn {
  font-family: 'Comfortaa', sans-serif; 
  font-size: 20px;  
  opacity: 1;
  transform: translateX(0);
  transition: transform 1s ease 0s;
}

.button2-off-screen.rs-btn {
  transform: translateX(-700px);
}

.button2-on-screen.rs-btn {
  font-family: 'Comfortaa', sans-serif; 
  font-size: 20px;  
  opacity: 1;
  transform: translateX(0);
  transition: transform 1s ease 0s;
}

.button3-off-screen.rs-btn {
  transform: translateX(-700px);
}

.button3-on-screen.rs-btn {
  font-family: 'Comfortaa', sans-serif; 
  font-size: 20px;  
  opacity: 1;
  transform: translateX(0);
  transition: transform 1s ease 0s;
}

.button4-off-screen.rs-btn {
  transform: translateX(-700px);
}

.button4-on-screen.rs-btn {
  font-family: 'Comfortaa', sans-serif; 
  font-size: 20px;  
  opacity: 1;
  transform: translateX(0);
  transition: transform 1s ease 0s;
}

.button5-off-screen.rs-btn {
  transform: translateX(-700px);
}

.button5-on-screen.rs-btn {
  font-family: 'Comfortaa', sans-serif; 
  font-size: 20px;  
  opacity: 1;
  transform: translateX(0);
  transition: transform 1s ease 0s;
}

.button6-off-screen.rs-btn {
  transform: translateX(-700px);
}

.button6-on-screen.rs-btn {
  font-family: 'Comfortaa', sans-serif; 
  font-size: 20px;  
  opacity: 1;
  transform: translateX(0);
  transition: transform 1s ease 0s;
}

.buttons {
  text-align: left; 
  max-width: 1000px;
  padding: 50px 0px;
}

.button1-on-screen.rs-btn:hover {
  transform: translateX(50px);
}
.button2-on-screen.rs-btn:hover {
  transform: translateX(50px);
}
.button3-on-screen.rs-btn:hover {
  transform: translateX(50px);
}
.button4-on-screen.rs-btn:hover {
  transform: translateX(50px);
}
.button5-on-screen.rs-btn:hover {
  transform: translateX(50px);
}
.button6-on-screen.rs-btn:hover {
  transform: translateX(50px);
}


.project-1-title{
  font-family: 'Comfortaa', sans-serif; 
  font-size: 50px; 
  text-align: left;
  padding: 50px 470px;
  color: blueviolet;
}

.project-1-off-screen {
  transform: translateY(-600px);
}

.project-1-on-screen {
  opacity: 1;
  transform: translateY(50);
  transition: transform 1s ease-out 0s;
}

.back-button {
  padding: 10px 10px
}
  
.back-button-off-screen.rs-btn {
  transform: translateX(-700px);
}

.back-button-on-screen.rs-btn {
  font-family: 'Comfortaa', sans-serif; 
  font-size: 20px;  
  opacity: 1;
  transform: translateX(0);
  transition: transform 1s ease 0s;
}
