* {
  font-family: 'Comfortaa', sans-serif; 
  box-sizing: border-box;
}

.bg {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
}

.general-object-on-screen {
  opacity: 1;
  transform: translateX(0);
  transition: transform 1s ease 0s;
}

.app {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
}

/************************************************************************************/
/*Name*/
/************************************************************************************/

.name {
  position: absolute;
  top: 30%;
  left: 1.5%;
  font-size: 50px;
}

.name-off-screen {
  transform: translateX(-150%);
}

/************************************************************************************/
/*About me*/
/************************************************************************************/

.about-me {
  position: absolute;
  top: 40%;
  left: 1.5%;
  max-width: 600px;
  font-size: 16px;
}

.linkedin {
  color:dimgray;
}

.about-me-off-screen {
  transform: translateX(-150%);
}

/************************************************************************************/
/*Buttons and their transitions*/
/************************************************************************************/
.buttons {
  position: absolute;
  top: 60%;
  left: 0.5%;
}

.button-gap {
  padding: 1% 1%;
}

.button1-off-screen.rs-btn, .button2-off-screen.rs-btn, .button3-off-screen.rs-btn, .button4-off-screen.rs-btn, .button5-off-screen.rs-btn, .button6-off-screen.rs-btn {
  transform: translateX(-150%);
}

.button1-on-screen.rs-btn, .button2-on-screen.rs-btn, .button3-on-screen.rs-btn, .button4-on-screen.rs-btn, .button5-on-screen.rs-btn, .button6-on-screen.rs-btn {
  font-size: 20px;  
  opacity: 1;
  transform: translateX(0);
  transition: transform 1s ease 0s;
}

.button1-on-screen.rs-btn:hover, .button2-on-screen.rs-btn:hover, .button3-on-screen.rs-btn:hover, .button4-on-screen.rs-btn:hover, .button5-on-screen.rs-btn:hover, .button6-on-screen.rs-btn:hover {
  transform: translateX(5%);
}

/************************************************************************************/
/*Project titles and their transitions*/
/************************************************************************************/

.project-title{
  font-size: 350%; 
}

.project-title .project-1-title{
  position: absolute;
  top: 60%;
  left: 17%;
  color: darkcyan;
}

.project-title .project-2-title{
  position: absolute;
  top: 60%;
  left: 17%;
  color: rgb(22, 60, 107);
}

.project-title .project-3-title{
  position: absolute;
  top: 60%;
  left: 25%;
  color: blueviolet;
}

.project-title .project-4-title{
  position: absolute;
  top: 40%;
  left: 17%;
  color: green;
}

.project-title .project-5-title{
  position: absolute;
  top: 20%;
  left: 32%;
  color: darkslategray;
}

.project-title .references-title{
  position: absolute;
  top: 60%;
  left: 5%;
  color: yellow;
}

.project-1-off-screen, .project-2-off-screen, .project-3-off-screen, .project-4-off-screen, .project-5-off-screen, .references-off-screen {
  transform: translateY(-300%);
}

.project-1-on-screen, .project-2-on-screen, .project-3-on-screen, .project-4-on-screen, .project-5-on-screen, .references-on-screen {
  opacity: 1;
  transform: translateY(5%);
  transition: transform 1s ease-out 0s;
}

/************************************************************************************/
/*Top bar buttons in projects*/
/************************************************************************************/

.buttons-in-project {
  display: inline-flex;
}
  
.back-button-off-screen.rs-btn {
  transform: translateX(-150%);
}

.back-button-on-screen.rs-btn {
  position: fixed;
  top: 1%;
  left: 1%;
  font-size: 20px;  
  opacity: 1;
  transform: translateX(0);
  transition: transform 1s ease 0s;
}

.next-button-off-screen.rs-btn {
  transform: translateX(150%);
}

.next-button-on-screen.rs-btn {
  position: fixed;
  top: 1%;
  right: 1%;
  font-size: 20px;  
  opacity: 1;
  transform: translateX(0);
  transition: transform 1s ease 0s;
}
  
.restart-button-off-screen.rs-btn {
  transform: translateX(150%);
}

.restart-button-on-screen.rs-btn {
  position: absolute;
  top: 1%;
  right: 1%;
  font-size: 20px;  
  opacity: 1;
  transform: translateX(0);
  transition: transform 1s ease 0s;
}

/************************************************************************************/
/*Paragraphs*/
/************************************************************************************/

.project-1-paragraph-1{
  position: absolute;
  top: 20%;
  left: 1%;
  font-size: 20px; 
  max-width: 700px;
  color: white;
}

.project-1-paragraph-1-off-screen {
  transform: translateX(-800px);
}

.project-1-paragraph-1-on-screen {
  opacity: 1;
  transform: translateX(0);
  transition: transform 1s ease-out 0s;
}

.project-1-paragraph-2{
  position: absolute;
  top: 30%;
  right: 1%;
  font-size: 20px; 
  max-width: 600px;
  color: white;
}

.project-1-paragraph-2-off-screen {
  transform: translateX(800px);
}

.project-1-paragraph-2-on-screen {
  opacity: 1;
  transform: translateX(0);
  transition: transform 1s ease-out 0s;
}

.project-1-paragraph-3{
  position: absolute;
  top: 68%;
  left: 10%;
  font-size: 20px; 
  max-width: 600px;
  color: white;
}

.project-1-paragraph-3-off-screen {
  transform: translateX(-800px);
}

.project-1-paragraph-3-on-screen {
  opacity: 1;
  transform: translateX(0);
  transition: transform 1s ease-out 0s;
}

.project-2-paragraph-1{
  position: absolute;
  top: 20%;
  left: 1%;
  font-size: 20px; 
  max-width: 700px;
  color: white;
}

.project-2-paragraph-1-off-screen {
  transform: translateX(-800px);
}

.project-2-paragraph-1-on-screen {
  opacity: 1;
  transform: translateX(0);
  transition: transform 1s ease-out 0s;
}

.project-2-paragraph-2{
  position: absolute;
  top: 53%;
  right: 1%;
  font-size: 20px; 
  max-width: 600px;
  color: white;
}

.project-2-paragraph-2-off-screen {
  transform: translateX(800px);
}

.project-2-paragraph-2-on-screen {
  opacity: 1;
  transform: translateX(0);
  transition: transform 1s ease-out 0s;
}

.project-3-paragraph-1{
  position: absolute;
  top: 20%;
  left: 1%;
  font-size: 20px; 
  max-width: 700px;
  color: white;
}

.project-3-paragraph-1-off-screen {
  transform: translateX(-800px);
}

.project-3-paragraph-1-on-screen {
  opacity: 1;
  transform: translateX(0);
  transition: transform 1s ease-out 0s;
}

.project-3-paragraph-2{
  position: absolute;
  top: 45%;
  right: 1%;
  font-size: 20px; 
  max-width: 600px;
  color: white;
}

.project-3-paragraph-2-off-screen {
  transform: translateX(800px);
}

.project-3-paragraph-2-on-screen {
  opacity: 1;
  transform: translateX(0);
  transition: transform 1s ease-out 0s;
}


.project-4-paragraph-1{
  position: absolute;
  top: 0%;
  left: 1%;
  font-size: 20px; 
  max-width: 650px;
  color: white;
}

.project-4-paragraph-1-off-screen {
  transform: translateX(-1200px);
}

.project-4-paragraph-1-on-screen {
  opacity: 1;
  transform: translateX(0);
  transition: transform 1s ease-out 0s;
}

.project-4-paragraph-2{
  position: absolute;
  top: 60%;
  right: 1%;
  font-size: 20px; 
  max-width: 600px;
  color: white;
}

.project-4-paragraph-2-off-screen {
  transform: translateX(800px);
}

.project-4-paragraph-2-on-screen {
  opacity: 1;
  transform: translateX(0);
  transition: transform 1s ease-out 0s;
}

.project-5-paragraph-1{
  position: relative;
  top: 90%;
  left: 1%;
  font-size: 20px; 
  max-width: 650px;
  color: white;
}

.project-5-paragraph-1-off-screen {
  transform: translateX(-800px);
}

.project-5-paragraph-1-on-screen {
  opacity: 1;
  transform: translateX(0);
  transition: transform 1s ease-out 0s;
}

.project-5-paragraph-2{
  position: absolute;
  top: 100%;
  right: 1%;
  font-size: 20px; 
  max-width: 600px;
  color: white;
}

.project-5-paragraph-2-off-screen {
  transform: translateX(800px);
}

.project-5-paragraph-2-on-screen {
  opacity: 1;
  transform: translateX(0);
  transition: transform 1s ease-out 0s;
}

.project-5-paragraph-3{
  position: absolute;
  top: 270%;
  left: 40%;
  font-size: 20px; 
  max-width: 600px;
  color: white;
}

.project-5-paragraph-3-off-screen {
  transform: translateX(1500px);
}

.project-5-paragraph-3-on-screen {
  opacity: 1;
  transform: translateX(0);
  transition: transform 1s ease-out 0s;
}

.references-paragraph-1{
  position: absolute;
  top: 25%;
  left: 1%;
  font-size: 20px; 
  max-width: 650px;
  color: white;
}

.references-paragraph-1-off-screen {
  transform: translateX(-1200px);
}

.references-paragraph-1-on-screen {
  opacity: 1;
  transform: translateX(0);
  transition: transform 1s ease-out 0s;
}

.references-paragraph-2{
  position: absolute;
  top: 58%;
  right: 1%;
  font-size: 20px; 
  max-width: 600px;
  color: white;
}

.references-paragraph-2-off-screen {
  transform: translateX(800px);
}

.references-paragraph-2-on-screen {
  opacity: 1;
  transform: translateX(0);
  transition: transform 1s ease-out 0s;
}

/************************************************************************************/
/*Images*/
/************************************************************************************/
.project-1-image-1 {
  border-radius: 25px;
  position: absolute;
  top: 110%;
  left: 0%;
  width: 600px;
  height: 337px;
  border: 10px solid darkcyan;
}

.project-1-image-2 {
  border-radius: 25px;
  position: absolute;
  top: 120%;
  right: 0%;
  width: 500px;
  height: 333px;
  border: 10px solid darkcyan;
}

.project-1-image-3 {
  border-radius: 25px;
  position: absolute;
  top: -50%;
  right: -75%;
  width: 440px;
  height: 320px;
  border: 10px solid darkcyan;
}

.project-2-image-1 {
  border-radius: 25px;
  position: absolute;
  top: 100%;
  left: 1%;
  width: 600px;
  height: 550px;
  border: 10px solid #163C6B;
}

.project-2-image-2 {
  border-radius: 25px;
  position: absolute;
  top: -150%;
  right: 10%;
  width: 500px;
  height: 333px;
  border: 10px solid #163C6B;
}

.project-2-image-3 {
  border-radius: 25px;
  position: absolute;
  top: 105%;
  right: 40%;
  width: 532px;
  height: 273px;
  border: 10px solid #163C6B;
}

.project-3-image-1 {
  border-radius: 25px;
  position: absolute;
  top: 120%;
  left: 1%;
  width: 600px;
  height: 400px;
  border: 10px solid #8A2BE2;
}

.project-3-image-2 {
  border-radius: 25px;
  position: absolute;
  top: -250%;
  right: 10%;
  width: 500px;
  height: 333px;
  border: 10px solid #8A2BE2;
}

.project-3-image-3 {
  border-radius: 25px;
  position: absolute;
  top: 130%;
  right: 40%;
  width: 532px;
  height: 273px;
  border: 10px solid #8A2BE2;
}


.project-4-image-1 {
  border-radius: 25px;
  position: absolute;
  top: 200%;
  right: -100%;
  width: 750px;
  height: 250px;
  border: 10px solid #00ee00;
}

.project-4-image-2 {
  border-radius: 25px;
  position: absolute;
  top: 100%;
  right: 40%;
  width: 400px;
  height: 300px;
  border: 10px solid #00ee00;
}

.project-4-image-3 {
  border-radius: 25px;
  position: absolute;
  top: 100%;
  right: 0%;
  width: 500px;
  height: 350px;
  border: 10px solid #00ee00;
}

.project-5-image-1 {
  border-radius: 25px;
  position: absolute;
  top: 100%;
  left: 0%;
  width:650px;
  height: 350px;
  border: 10px solid #2f4f4f;
}

.project-5-image-2 {
  border-radius: 25px;
  position: absolute;
  top: 100%;
  right: 10%;
  width: 400px;
  height: 400px;
  border: 10px solid #2f4f4f;
}

.project-5-image-3 {
  border-radius: 25px;
  position: absolute;
  top: -80%;
  right: 110%;
  width: 500px;
  height: 300px;
  border: 10px solid #2f4f4f;
}

.references-image-1 {
  border-radius: 25px;
  position: absolute;
  top: 105%;
  left: 0%;
  width: 650px;
  height: 250px;
  border: 10px solid #FFFF00;
}

.references-image-2 {
  border-radius: 25px;
  position: absolute;
  top: 110%;
  right: 40%;
  width: 400px;
  height: 250px;
  border: 10px solid #FFFF00;
}

.references-image-3 {
  border-radius: 25px;
  position: absolute;
  top: -250%;
  right: 0%;
  width: 500px;
  height: 350px;
  border: 10px solid #FFFF00;
}